<!DOCTYPE html>
<html lang="en">

<!-- {
    "mean_wsp": 4.3,
    "max_wsp": 6.3,
    "direction": 42,
    "latitude": 57.706442,
    "longitude": 11.678861,
    "reference_time": "2022-12-11T20:00:00Z",
    "target_time": "2022-12-11T21:00:00Z",
    "source": "smhi"
    }, -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyWind</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="text-item">
        <table>
            <tr>
                <th>Value</th>
                <th>Unit</th>
                <th>Description</th>
            </tr>
            <tr>
                <td id="target_time"></td>
                <td>UTC+1</td>
                <td>Target time of forecast</td>
            </tr>
            <tr>
                <td id="wind_direction"></td>
                <td>degrees</td>
                <td>Wind direction</td>
            </tr>
            <tr>
                <td id="wind_speed"></td>
                <td>m/s</td>
                <td>Average wind speed (10 minutes)</td>
            </tr>
            <tr>
                <td id="wind_gusts"></td>
                <td>m/s</td>
                <td>Maximum wind speed</td>
            </tr>
        </table>
    </div>
</body>

<script>

async function updateWindForecastBjorko() {
    const response = await fetch("/api");
    const jObj = await response.json();
    const wind0 = jObj[0]

    console.log(wind0.target_time)

    setInnerHtml("#target_time", wind0.target_time)
    setInnerHtml("#wind_direction", wind0.direction)
    setInnerHtml("#wind_speed", wind0.mean_wsp)
    setInnerHtml("#wind_gusts", wind0.max_wsp)
    console.log(wind0)
}

function setInnerHtml(id, value) {
    console.log("inside")
    if (document.querySelector(id) !== null) {
        element = document.querySelector(id)
        console.log(element)
        element.innerHTML = value
    } else {
        console.error('setInnerHtml(id, value): ' + id + ' is not found!');
    }
}

updateWindForecastBjorko();

</script>

</html>